<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>compleet.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- compleet Style Sheet CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>

  <body>

    <!-- Nav bar -->
    <nav class="navbar navbar-inverse bg-#62D2FA" style="background-color: #62D2FA;">
        <a class="navbar-brand" style="color: white; margin: 0 auto; font-size: 2em;">compleet.ai</a>
    </nav>

    <!-- ADD ITEM -->
    <form class="form-horizontal" action="/" method="POST"  role="form">
      <div class="container new-list">
        <div class="form-group" >
          <textarea class="form-control" rows="5" id="comment" placeholder="What do you want to do?" name="input_list_item"></textarea>
        </div>
        <button id="addButton"type="submit" class="btn btn-primary btn-lg btn-block" style='margin-top: -25px;'>ADD ITEM</button>
      </div>
    </form>


    <!--CATEGORIES -->

    <!-- WATCH CATEGORY -->
    <div class="container category">
        <button id="toWatch" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#watchList">TO WATCH</button>
          <section id='watchList' class='collapse'>
            <% for(const item of datum[1]) {%>
              <button type="button" class="btn btn-secondary btn-lg btn-block listItem" data-toggle="modal" data-target="#watchModal">
                <label class="check">
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                  <%= item.list_item %>
              </button>
            <% } %>
          </section>
    </div>

    <!-- READ CATEGORY -->
    <div class="container category">
        <button id="toRead" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#readList">TO READ</button>
          <section id='readList' class='collapse'>
            <% for(const item of datum[4]) {%>
              <button type="button" class="btn btn-secondary btn-lg btn-block listItem" data-toggle="modal" data-target="#readModal">
                  <label class="check">
                      <input type="checkbox" >
                      <span class="checkmark"></span>
                    </label>
                    <%= item.list_item %>
              </button>
            <% } %>
          </section>
    </div>

    <!-- EAT CATEGORY -->
    <div class="container category">
        <button id="toEat" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#eatList">TO EAT</button>
          <section id='eatList' class='collapse'>
            <% for(const item of datum[2]) { %>
              <button type="button" class="btn btn-secondary btn-lg btn-block listItem" data-toggle="modal" data-target="#eatModal">
                  <label class="check">
                      <input type="checkbox" >
                      <span class="checkmark"></span>
                    </label>
                    <%= item.list_item %>
              </button>
            <% } %>
          </section>
    </div>

    <!-- BUY CATEGORY -->
    <div class="container category">
        <button id="toBuy" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#buyList">TO BUY</button>
          <section id='buyList' class='collapse'>
             <% for (const item of datum[3]) { %> 
              <button type="button" class="btn btn-secondary btn-lg btn-block listItem" data-toggle="modal" data-target="#buyModal">
                  <label class="check">
                      <input type="checkbox" >
                      <span class="checkmark"></span>
                    </label>
                    <%= item.list_item %>
              </button>
            <% } %>
          </section>
    </div>

    <!-- OTHER CATEGORY -->
    <div class="container category">
        <button id="toOther" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#otherList">TO OTHER</button>
          <section id='otherList' class='collapse'>
            <% for (const item in datum[5]) { %>
              <button type="button" class="btn btn-secondary btn-lg btn-block listItem" data-toggle="modal" data-target="#otherModal">
                  <label class="check">
                      <input type="checkbox" >
                      <span class="checkmark"></span>
                    </label>
                    <%= item.list_item %>
              </button>
            <% } %>
          </section>
    </div>




    <!-- MODALS -->

    <!-- Modal WATCH -->
    <div class="modal fade" id="watchModal" tabindex="-1" role="dialog" aria-labelledby="watchModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="watchModalTitle">Shrek</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <!-- Category Selector -->
            <div class="form-group">
                <label for="selWatchCategory">Category:</label>
                <select class="form-control" id="selWatchCategory">
                  <option>Watch</option>
                  <option>Read</option>
                  <option>Eat</option>
                  <option>Buy</option>
                  <option>Other</option>
                </select>
              </div>

              <!-- Completion Selector -->
              <div class="form-group">
                <label for="selWatchDone">Done:</label>
                <select class="form-control" id="selWatchDone">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

              <!-- API DATA Selector -->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-8 col-sm-6">Release Year:</div>
                  <div class="col-4 col-sm-6">2001</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-8 col-sm-6">Rating:</div>
                    <div class="col-4 col-sm-6">PG</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-8 col-sm-6">Stars:</div>
                    <div class="col-4 col-sm-6">Mike Myers</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-8 col-sm-6">Director:</div>
                    <div class="col-4 col-sm-6">Michael Bay</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-8 col-sm-6">Genre:</div>
                    <div class="col-4 col-sm-6">Comedy, Action, Animation</div>
                </div>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>





    <!-- Modal READ -->
    <div class="modal fade" id="readModal" tabindex="-1" role="dialog" aria-labelledby="readModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="readModalTitle">Outliers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Category Selector -->
            <div class="form-group">
                <label for="selReadCategory">Category:</label>
                <select class="form-control" id="selReadCategory">
                  <option>Read</option>
                  <option>Watch</option>                  
                  <option>Eat</option>
                  <option>Buy</option>
                  <option>Other</option>
                </select>
              </div>

              <!-- Completion Selector -->
              <div class="form-group">
                <label for="selReadDone">Done:</label>
                <select class="form-control" id="selReadDone">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>


              <!-- API DATA Selector -->
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-8 col-sm-6">Release Year:</div>
                    <div class="col-4 col-sm-6">2006</div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-8 col-sm-6">Rating:</div>
                      <div class="col-4 col-sm-6">8.9</div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-8 col-sm-6">Author:</div>
                      <div class="col-4 col-sm-6">Malcolm Gladwell</div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-8 col-sm-6">Genre:</div>
                      <div class="col-4 col-sm-6">Non-Fiction</div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-8 col-sm-6">Description:</div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-sm-6">Outliers: The Story of Success is the third non-fiction book written by Malcolm Gladwell and published by Little, Brown and Company on November 18, 2008. In Outliers, Gladwell examines the factors that contribute to high levels of success.</div>                    
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-8 col-sm-6">Book Cover:</div>
                      <img class="img-fluid img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71GLAwC9cPL.jpg">
                  </div>
                </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>




    <!-- Modal EAT -->
    <div class="modal fade" id="eatModal" tabindex="-1" role="dialog" aria-labelledby="eatModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eatModalTitle">Cactus Club</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Category Selector -->
            <div class="form-group">
                <label for="selEatCategory">Category:</label>
                <select class="form-control" id="selEatCategory">
                  <option>Eat</option>
                  <option>Watch</option>
                  <option>Read</option>
                  <option>Buy</option>
                  <option>Other</option>
                </select>
              </div>

              <!-- Completion Selector -->
              <div class="form-group">
                <label for="selEatDone">Done:</label>
                <select class="form-control" id="selEatDone">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

              <!-- API DATA Selector -->
              <div class="container">
                <div class="container">Phone Number:</div>
                <div class="container">Rating:</div>
                <div class="container">Address:</div>
                <div class="container">Menu:</div>
                <div class="container">Price Range:</div>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Modal BUY -->
    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="buyModalTitle">Groceries</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Category Selector -->
            <div class="form-group">
                <label for="selBuyCategory">Category:</label>
                <select class="form-control" id="selBuyCategory">
                  <option>Buy</option>
                  <option>Watch</option>
                  <option>Read</option>
                  <option>Eat</option>
                  <option>Other</option>
                </select>
              </div>

              <!-- Completion Selector -->
              <div class="form-group">
                <label for="selBuyDone">Done:</label>
                <select class="form-control" id="selBuyDone">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

              <!-- API DATA Selector -->
              <div class="container">
                <div class="container">Price:</div>
                <div class="container">Rating:</div>
                <div class="container">Item Description:</div>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>




    <!-- Modal OTHER -->
    <div class="modal fade" id="otherModal" tabindex="-1" role="dialog" aria-labelledby="otherModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="otherModalTitle">Sky Diving</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Category Selector -->
            <div class="form-group">
                <label for="selOtherCategory">Category:</label>
                <select class="form-control" id="selOtherCategory">
                  <option>Other</option>
                  <option>Watch</option>
                  <option>Read</option>
                  <option>Eat</option>
                  <option>Buy</option>
                </select>
              </div>

              <!-- Completion Selector -->
              <div class="form-group">
                <label for="selOtherDone">Done:</label>
                <select class="form-control" id="selOtherDone">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

              <!-- API DATA Selector -->
              <div class="container">
                <div class="container">Picture:</div>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- JS APP -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </body>
</html>